

    <%= image_tag(@user.image_url(:thumb), class: 'left prof-img') %>


    <h4><%= @user.full_name%></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel sagittis eros. Fusce ut interdum purus. Integer ornare ante vel massa viverra, eu semper sem malesuada. Sed quis ligula vitae diam rutrum pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam quis laoreet odio. Quisque vel dignissim orci, sollicitudin rhoncus felis. Nullam egestas dui a placerat suscipit. Phasellus varius quam eget lectus suscipit, ut molestie lectus mattis. Nulla sodales vestibulum est, nec tincidunt quam posuere euismod. Nunc quis lobortis libero, ut aliquet sapien. Fusce elementum sapien augue, eget tempus nisl imperdiet at.

    Morbi in sagittis sem. Curabitur condimentum erat vitae urna vehicula, id vestibulum lacus porttitor. Sed scelerisque mi eget tempus sodales. Proin ornare nisl sed dolor aliquet egestas. Donec ac mauris ac tortor cursus mattis sed non diam. Nullam pulvinar volutpat metus ut fermentum. Nam et magna magna. Nulla ac risus sagittis, vestibulum dui ac, bibendum diam. Mauris mattis bibendum mattis. Fusce aliquet neque ac purus sagittis varius.

    </p>




