<h1> Posts </h1>

  <form class="status-update">
  <div class="row">
    <div class="small-12 columns">
      <label>Update your status
        <textarea placeholder="I'm having a great day!"></textarea>
      </label>
    </div>
  </div>
</form>

    <div class='posts'>
    <% @posts.each do |post| %>
    </div>
    <%= post.content %>
      <ul class="inline-list post-actions">
          <li><%= link_to 'Comment', post_path(post) %></li>
        </ul>
    <% end %>
  </tr>
</table>



