<h1> Posts </h1>


  <div class="row">
    <div class="small-8 columns post_form">
      <%= simple_form_for @post, url: posts_path, method: :post, remote: true do |f| %>
        <%= f.input :content %>
        <%= f.submit class: 'button new-post' %>
      <% end %>
    </div>
  </div>

    <div class='posts'>
      <%= render @posts %>
    </div>




